page-home {
    .welcome-title {  
        margin-top:80px;
        width:100%;
        font-size: 10vh;
        text-align: center;
        text-transform: uppercase;
        font-family: 'passiononebold';
        color: color($colors, secondary);
        text-shadow: -2px 0 color($colors, dark-green),
        0 3px color($colors, dark-green), 
        2px 0 color($colors, dark-green), 
        0 -2px color($colors, dark-green);
    }
    
    .welcome-button {
        // font-weight: 700;
        color: color($colors, dark-green);
        text-transform: uppercase;
        font-family: 'passiononebold';
        font-size: 28px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        &.activated {
            box-shadow: 0 0px 0px white;
        }
    }
    
    .parameter-button {
        font-family: 'passiononebold';
        font-size: 16px;
        width: 10vh;
        height: 10vh;
    }
    
}
