settings-page {

    .settings-txt {
        font-family: "passiononebold";
        font-size: 1.5em;
        color: color($colors, dark-green);
    }

    .add-or-remove-btn {
        font-family: "passiononebold";
        font-size: 1.3em;
        color: color($colors, dark-green);
    }

}
