game-page {
    .game-container {
        display: flex;
        flex-direction: column;
        height: 80vh;
        justify-content: space-between;
    }
    .game-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .expression {
        font-size: 8vh;
        font-family: "passiononebold";
        color: color($colors, dark-green);
        width: 80vw;
        text-align: center;
    }
    
    .countdown {
        text-align: center;
        color: color($colors, secondary);
        font-size: 10vh;
        font-family: "passiononebold";
    }

    .passed-button {
        color: color($colors, light);
    }

    .hot {
        color: tomato;
    }
}
