.expression {
    font-size: 8vh;
    font-family: "passiononebold";
    color: color($colors, dark-green);
    position: absolute;
    // height: 50vh;
    width: 80vw;
    top: 25vh;
    left: 10vw;
    // padding: 0.5em;
    text-align: center;
    // background-color: color($colors, dark-green);
    // border-radius: 20px;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    // text-shadow: -1px 0 color($colors, dark-green), 0 1px color($colors, dark-green), 1px 0 color($colors, dark-green), 0 -1px color($colors, dark-green);


}

.countdown {
    text-align: center;
    color: color($colors, secondary);
    font-size: 10vh;
    font-family: "passiononebold";
}