<ion-content padding no-bounce>
    <button class="button-back" ion-button  clear (click)="back()">retour</button>
    <div class="game-container">
      <div class="game-content">
        <div class="countdown" *ngIf="time>9400">{{time/1000 | number:'1.0-0'}}</div>
        <div class="countdown hot" *ngIf="time<=9400">{{time/1000 | number:'1.0-0'}}</div>
        <div class="expression">{{currentExpression?.expression | capitalize}}</div>
      </div>
      <ion-row>
        <ion-col col-6>
          <button class="button-fun next-button" 
            block 
            ion-button 
            color="secondary" (click)="next('ok')">TROUV&Eacute;</button>
        </ion-col>
        <ion-col col-6>
          <button class="button-fun next-button passed-button" 
            block 
            ion-button 
            color="dark" (click)="next('pass')">PASSE</button>
        </ion-col>
      </ion-row>
    </div>
</ion-content>